<!doctype html>
<html lang="en">
    <head>
        {% include "templates/header.html" %}
    </head>
    <body>

        <div class="pageOffset"></div>
        <div class="pagePadding">
            <div id="pageAlignment" class="pageAlignment">
                <div id="pageContent" class="pageContent">

                    {% set selected = 'accessories' %}
                    {% include "templates/menu.html" %}

                    <img src="/communities/9/000/000/217/299//images/606153_983x400.png" alt="Custom tailored trucks" title="Custom tailored trucks" class="main_img" />

                    <div class="simpleRectangle text_box_1"></div>
                    <div class="simpleRectangle text_box_2"></div>

                    <div class="page_wheels_tires_2 title">
                        <h1 class="p0">
                            <span class="c0">Get your truck custom-tailored!</span>
                        </h1>
                    </div>

                    <div class="page_wheels_tires_1 body">
                        <p class="p0">
                            <span class="c0">When you're ready to make over your car, don't go to a big-box truck parts store. Come to Banin's Auto and get professional installations that fit your truck, SUV or CUV like a glove.</span>
                        </p>
                    </div>

                    <!-- bottom content -->

                    <div class="home_top_1 title">
                        <h1 class="p0">
                            <span class="c0">Trust your car to our over 50 years experience! Call today: <a href="tel:2153573783" target="_self">215-357-3783</a></span>
                        </h1>
                    </div>

                    <div class="home_left_1 body">
                        <p class="p0">
                            <span class="c0"><!-- more content here ... --></span>
                        </p>
                    </div>


                    <div class='home_left_1_img'>
                        <h4 style='color: #ffab03; margin-bottom: 5px;'>Specializing in:</h4>
                        <ul class='specialties_list' style='float: left; top: 0'>
                            <li>Vended rotors</li>
                            <li>Leveling kits</li>
                            <li>Toneau covers</li>
                            <li>Cold air intakes</li>
                            <li>Jeep accessories</li>
                            <li>Tracking devices</li>
                            <li>Lifted suspensions</li>
                        </ul>
                        <ul class='specialties_list' style='float: right; position: absolute; left: 200px; top: 20px'>
                            <li>Bed liners</li>
                            <li>Step bars</li>
                            <li>Trailer hitches</li>
                            <li>HID headlights</li>
                            <li>Custom exhaust systems</li>
                            <li>Custom fit floor liners</li>
                            <li>...and so much more!</li>
                        </ul>
                    </div>

                    <div class='home_right_1_img'>
                        <img style="width: 100%; margin-top: -70px" src='/communities/9/000/000/217/299/images/13148770.png' alt="rocco's truck" title="Rocco's truck">
                    </div>



                    <div class="home_left_text_3 title">
                        <h1 class="p0">
                            <span class="c0">Make your car work with your life and style!</span>
                        </h1>
                    </div>

                    <div class="home_left_text_2 body">
                        <p class="p0">
                            <span class="c0">Count on Banin's Auto to bring you the best in truck, SUV and CUV enhancement. From custom seat covers to dashboard navigation, get everything you need to fit your ride to your routine.</span>
                        </p>
                    </div>

                    <div class="home_right_text_3 title">
                        <h1 class="p0">
                            <span class="c0">Choose the time-tested truck technicians!</span>
                        </h1>
                    </div>
                    <div class="home_right_text_2 body">
                        <p class="p0">
                            <span class="c0">We take pride in everything we do - count on us for expert installations on all products from a knowledgeable and courteous staff. Schedule your appointment today, and hit the road in style!</span>
                        </p>
                    </div>

                    <div id="footer" class="footer">
                        <div class="subfooter body">
                            <p class="p0">
                                <span class="c0">© Banin's Auto Supply, 2016</span>
                            </p>
                        </div>

                        <img class="line footer_line" src="/_imgstore/9/217299/footer_fhj3PdYnozII5mJODr26K/3EGQZ9TJEhlQZh3qFeDXdSUhY0A.png" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
