
    <title>Banin's Auto Supply - Car Customization | Trevose, PA</title>
    <meta name="description" content="Personalize your truck, SUV, or COV with custom accessories, wheels and tires from Banin's Auto Supply. Stereos, 12 volt electronics. Call 215-364-0215." />
    <meta name="keywords" content="Custom Tires, Custom Wheels, SUV Accessories, CUV Accessories, Truck Accessories, 12-V Electronics" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Banin's Auto Supply" />
    <meta property="og:url" content="http://baninsauto.com" />
    <meta property="og:image" content="http://baninsauto.com/communities/9/000/000/217/299/previews/epLFITkASOgtRkZAPAA3pw.jpg" />


    <!-- fancybox -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <script type="text/javascript" src="/scripts/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <link rel="stylesheet" href="/scripts/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="/scripts/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

        <link rel="stylesheet" href="/scripts/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
        <script type="text/javascript" src="/scripts/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="/scripts/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

        <link rel="stylesheet" href="/scripts/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <script type="text/javascript" src="/scripts/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".imagePopup").fancybox();
            });
        </script>
    <!-- end fancybox -->


    <link rel='stylesheet' href='/styles.css'>
    <link rel="stylesheet" href="/_app/8587604/sm6/styles/styles.min.css">
