<ul class="menu horizontal primary_navbar">
    <li class="menuItem {% if selected == 'home' %} selected {% endif %}">
        <a href="/" class="menuItemDesign"><span>Home</span></a>
    </li>
    <li class="menuItem {% if selected == 'wheels-tires' %} selected {% endif %}">
        <a href="/wheels-tires/" class="menuItemDesign"><span>Wheels &amp; Tires</span></a>
    </li>
    <li class="menuItem {% if selected == 'accessories' %} selected {% endif %}">
        <a href="/accessories/" class="menuItemDesign"><span>Accessories</span></a>
    </li>
    <li class="menuItem {% if selected == 'electronics' %} selected {% endif %}">
        <a href="/electronics/" class="menuItemDesign"><span>Electronics</span></a>
        <div class='dropdown-content'>
            <ul>
                <li>
                    <a href='/electronics/remote-start'>Remote Car Starters</a>
                </li>
                <li>
                    <a href='/electronics/car-alarms'>Car Alarms</a>
                </li>
                <li>
                    <a href='/electronics/radios'>Car &amp; Truck Radios</a>
                </li>
                <li>
                    <a href='/electronics/headlights'>Headlights &amp; More</a>
                </li>
                <li>
                    <a href='/electronics/strobe-lighting'>Strobe Lighting</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="menuItem {% if selected == 'gallery' %} selected {% endif %}">
        <a href="/gallery/" class="menuItemDesign"><span>Gallery</span></a>
    </li>
    <li class="menuItem {% if selected == 'contact' %} selected {% endif %}">
        <a href="/contact/" class="menuItemDesign"><span>Contact</span></a>
    </li>
</ul>
<img src="/communities/9/000/000/217/299//images/604306.png" alt="Banin's Auto Supply" class="primary_logo" />
<div class="phone_number title">
    <h1 class="p0">
        <span class="c0"><a href="tel:2153573783" target="_self">2 1 5 - 3 5 7 - 3 7 8 3</a></span>
    </h1>
</div>
<a href="http://www.facebook.com/pages/Banins-Auto/134653316552670?rf=142851852428160" target="_blank" ><img src="/communities/9/000/000/217/299//images/6378325_35x35.png" alt="facebook logo-blue" class="fb_link" /></a>
<div class="financing_info title">
    <h1 class="p0">
        <span class="c0">Financing Now Available!</span>
    </h1>
</div>
