<!doctype html>
<html lang="en">
    <head>
        {% include "templates/header.html" %}
    </head>
    <body>

        <div class="pageOffset"></div>
        <div class="pagePadding">
            <div id="pageAlignment" class="pageAlignment">
                <div id="pageContent" class="pageContent">

                    {% set selected = 'wheels-tires' %}
                    {% include "templates/menu.html" %}

                    <img src="/communities/9/000/000/217/299//images/604967_983x400.png" alt="Neat looking tires" title="Neat looking tires" class="main_img" />

                    <div class="simpleRectangle text_box_1">
                        <div class="page_wheels_tires_2 title">
                            <h1 class="p0">
                                <span class="c0">Find custom wheels for an easy auto-makeover!</span>
                            </h1>
                        </div>
                    </div>

                    <div class="simpleRectangle text_box_2"></div>

                    <div class="home_top_1 title">
                        <h1 class="p0">
                            <span class="c0">Get the perfect fit for any brand and style of tire - all at discount prices!</span>
                        </h1>
                    </div>

                    <div class="page_wheels_tires_1 body">
                        <p class="p0">
                            <span class="c0">Count on our guarantee to deliver the perfect fit for any vehicle. We specialize in Plus Sizing so you can rest assured that you're hitting the road with the safest - and most stylish - set of wheels.</span>
                        </p>
                    </div>

                    <div class="home_left_1 body">
                        <p class="p0">
                            <span class="c0">At Banin's Auto we specialize in plus size fitments. We can design a custom wheel package that's designed just for you - you never have to settle with us! Call today: <a href="tel:2153573783" target="_self">215-357-3783</a></span>
                        </p>
                    </div>

                    <div class="home_left_text_3 title">
                        <h1 class="p0">
                            <span class="c0">Choose from over 150 brands of custom wheels!</span>
                        </h1>
                    </div>
                    <div class="home_left_text_2 body">
                        <p class="p0">
                            <span class="c0">Whether you want the old school look of  Cragar, Centerline, or American Racing, or you want a more modern look for your car, we've got the brands to make your wheels turn.</span>
                        </p>
                    </div>

                    <div class="home_right_text_3 title">
                        <h1 class="p0">
                            <span class="c0">The best prices for all tire brands and styles!</span>
                        </h1>
                    </div>
                    <div class="home_right_text_2 body">
                        <p class="p0">
                            <span class="c0">From drag radials to mud terrain to stock replacement tires, find the set for your lifestyle at Banin's Auto. We'll mount and balance any tire in any size.</span>
                        </p>
                    </div>

                    <div class='home_left_1_img'>
                        <img style="width: 95%; margin-top: -80px" src="/communities/9/000/000/217/299/images/13148789.png" alt="Jeep wheels and tires" title="Jeep with wheels and tires" />
                    </div>
                    <div class='home_right_1_img'>
                        <img style="margin-left: 70px" src="/communities/9/000/000/217/299/images/13148757-scaled.png" alt="Jeep wheels and tires" title="Jeep with wheels and tires" />
                    </div>

                    {% include "templates/footer.html" %}
                </div>
            </div>
        </div>
    </body>
</html>
