<!doctype html>
<html lang="en">
    <head>
        {% include "templates/header.html" %}
    </head>
    <body>

        <div class="pageOffset"></div>
        <div class="pagePadding">
            <div id="pageAlignment" class="pageAlignment">
                <div id="pageContent" class="pageContent">

                    {% set selected = 'electronics' %}
                    {% include "templates/menu.html" %}

                    <img src="/communities/9/000/000/217/299//images/605745_983x400.png" alt="Good sound system" title="Good sound system" class="main_img" />

                    <div class="simpleRectangle text_box_1"></div>
                    <div class="simpleRectangle text_box_2"></div>

                    <div class="page_wheels_tires_2 title">
                        <h1 class="p0">
                            <span style='font-size: 24px' class="c0">Count on our experienced team for your auto electronics!</span>
                        </h1>
                    </div>

                    <div class="page_wheels_tires_1 body">
                        <p class="p0">
                            <span class="c0">Get the latest in automobile electronics installed by the time-tested experts at Banin's Auto and see why Trevose drivers have trusted us with their cars for over 50 years!</span>
                        </p>
                    </div>

                    <!-- bottom content -->

                    <div class="home_top_1 title">
                        <h1 class="p0">
                            <span class="c0">Find the latest in auto electronics in our inventory! Call today: <a href="tel:2153573783" target="_self">215-357-3783</a></span>
                        </h1>
                    </div>

                    <div class="home_left_1 body">
                        <p class="p0">
                            <span class="c0">Come to Banin's Auto to get the best in 12-V electronic installations for your car, truck, SUV or CUV. We stay on the cutting edge of auto electronics so you can always get the latest accessories for your ride.</span>
                        </p>
                    </div>


                    <div class='home_left_1_img'>
                        <h4 style='color: #ffab03; margin-bottom: 5px;'>Get seamless installations for all your<br />auto-electronics! We specialize in:</h4>
                        <ul class='specialties_list'>
                            <li>Keyless entry</li>
                            <li>Sound systems</li>
                            <li>Remote starters</li>
                            <li>Dashboard navigation</li>
                            <li>... and more!</li>
                        </ul>
                    </div>

                    <div class='home_right_1_img'>
                        <img style="width: 100%; margin-top: -80px" src='/communities/9/000/000/217/299/images/13148776.png' alt="sweet truck" title="Sweet truck">
                    </div>



                    <div class="home_left_text_3 title">
                        <h1 class="p0">
                            <span class="c0">Treat your car to the latest auto-technology!</span>
                        </h1>
                    </div>

                    <div class="home_left_text_2 body">
                        <p class="p0">
                            <span class="c0">Improve your driving capabilities when you get custom 12-V electronics installed for your car, truck, SUV or CUV!</span>
                        </p>
                    </div>

                    <div class="home_right_text_3 title">
                        <h1 class="p0">
                            <span class="c0">iPod&trade; enabled-radios available now!</span>
                        </h1>
                    </div>
                    <div class="home_right_text_2 body">
                        <p class="p0">
                            <span class="c0">Tune into your favorite artist with seamless iPod&trade; radio installations from Banin's Auto Supply!</span>
                        </p>
                    </div>

                    <div id="footer" class="footer">
                        <div class="subfooter body">
                            <p class="p0">
                                <span class="c0">&copy; Banin's Auto Supply, 2016</span>
                            </p>
                        </div>

                        <img class="line footer_line" src="/_imgstore/9/217299/footer_fhj3PdYnozII5mJODr26K/3EGQZ9TJEhlQZh3qFeDXdSUhY0A.png" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
