<!doctype html>
<html lang="en">
    <head>
        {% include "templates/header.html" %}
    </head>
    <body>
        <div class="pageOffset"></div>
        <div class="pagePadding">
            <div id="pageAlignment" class="pageAlignment">
                <div id="pageContent" class="pageContent">

                    {% set selected = 'home' %}
                    {% include "templates/menu.html" %}

                    <ul class="img_gallery gallery">
                        <li>
                            <a href="/communities/9/000/000/217/299//images/604176.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/gYFWLViMiHAxj0jo1y8veBEdd-Y.png" class="thumbnail" width="180" height="190" alt="1"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li >
                            <a href="/communities/9/000/000/217/299//images/604170.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/7qqUlulP-IqzW9z-iJLjeTF0pLc.png" class="thumbnail" width="180" height="190" alt="9"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li >
                            <a href="/communities/9/000/000/217/299//images/604172.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/NjxPpG4ZgBBnDFFHJhXN1W1sFOU.png" class="thumbnail" width="180" height="190" alt="10"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li >
                            <a href="/communities/9/000/000/217/299//images/604174.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/PwIiywGHfpbjAaLLRoV8p-9XtKs.png" class="thumbnail" width="180" height="190" alt="11"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li class="row-end">
                            <a href="/communities/9/000/000/217/299//images/604175.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/4fqDgL0QrJj6sL1h-lepom08FsY.png" class="thumbnail" width="180" height="190" alt="13"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li >
                            <a href="/communities/9/000/000/217/299//images/604254.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/T-hcR2axKtaH6UW843-BfNyoZps.png" class="thumbnail" width="180" height="190" alt="c1"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li >
                            <a href="/communities/9/000/000/217/299//images/604259.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/7KeG8RfDgfXbqT3OOgYGvZO_NU0.png" class="thumbnail" width="180" height="190" alt="c2"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li >
                            <a href="/communities/9/000/000/217/299//images/604260.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/0J-1C15x3I2T0rUXob_HB7CVD1A.png" class="thumbnail" width="180" height="190" alt="c3"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li >
                            <a href="/communities/9/000/000/217/299//images/604261.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/p7M-2_NAH5Mi8AC1ZE0mmX60yHs.png" class="thumbnail" width="180" height="190" alt="c4"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                        <li class="row-end">
                            <a href="/communities/9/000/000/217/299//images/604262.jpg" target="_blank" class="imagePopup" rel="fancybox_img_gallery" title=""><img src="/_imgstore/9/217299/thumbnail/wos-_DsaBnHtSsGiylOR-U-jaT4.png" class="thumbnail" width="180" height="190" alt="c5"/></a>
                            <img class="rectangle background" src="/_imgstore/9/217299/background/doaWRF7xzV_rLOMCbK7DNLgBOZ0.png" />
                        </li>
                    </ul>
                    <div class="home_left_text_3 title">
                        <h1 class="p0">
                            <span class="c0">Tired of your ordinary tires?</span>
                        </h1>
                    </div>
                    <div class="home_right_text_3 title">
                        <h1 class="p0">
                            <span class="c0">Enhancing your ride for over 50 years!</span>
                        </h1>
                    </div>
                    <div class="home_left_text_2 body">
                        <p class="p0">
                            <span class="c0">Discover a huge inventory of over 150 custom wheel and tire brands to customize your truck, SUV or CUV. We specialize in Plus Sizing.</span>
                        </p>
                    </div>
                    <div class="home_right_text_2 body">
                        <p class="p0">
                            <span class="c0">No one brings you a better selection of accessories and parts for your car like Banin's Auto. Tailor your ride today!</span>
                        </p>
                    </div>

                    <a href="/wheels-tires/" target="_self" class="linkButton home_left_2" >
                        <span>All tires at discount prices!</span>
                    </a>

                    <a href="/accessories/" target="_self" class="linkButton home_right_2" >
                        <span>Bed liners, step bars and so much more!</span>
                    </a>

                    <div class="home_top_1 title">
                        <h1 class="p0">
                            <span class="c0">Personalize your ride - get outfitted with custom wheels, accessories and more!</span>
                        </h1>
                    </div>

                    <div class="home_left_1 body">
                        <p class="p0">
                            <span class="c0">Your car says a lot about your lifestyle - but most importantly your style. Get inspired with recent pictures from our </span><span class="c1"><a href="/gallery/" target="_self">photo gallery</a></span><span class="c2">, or browse our great selection of </span><span class="c3"><a href="/electronics/" target="_self">12-V electronics</a></span><span class="c4">.</span>
                        </p>
                    </div>

                    <img src="/communities/9/000/000/217/299//images/604367.png" alt="Elegant looking cars " title="Elegant looking cars " class="home_left_1_img" />
                    <img src="/communities/9/000/000/217/299//images/604336.png" alt="Different kinds of mags" title="Different kinds of mags" class="home_right_1_img" />

                    <div id="footer" class="footer">
                        <div class="subfooter body">
                            <p class="p0">
                                <span class="c0">© Banin's Auto Supply, 2016</span>
                            </p>
                        </div>

                        <img class="line footer_line" src="/_imgstore/9/217299/footer_fhj3PdYnozII5mJODr26K/3EGQZ9TJEhlQZh3qFeDXdSUhY0A.png" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
